* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  height: 5%;
  width: 5%;
}

.grid div.shooter {
  background-image: url("images/220-2205305_space-invaders-illustration-hd-png-download.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.alien {
  background-image: url("images/248-2480736_space-invaders-alien-png-space-invaders-alien-sprite.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.laser {
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.explosion {
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.enemyMissile {
  background-image: url("images/rocket-launcher-spacecraft-clip-art-png-favpng-EGp8U2ExAa7JE9qpf2124DCj3.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}